.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #ba58ff 100%);
    border-radius: 40px 40px 15px 15px;
    .name {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 1em;
            font-family: Cabinet Grotesk;
            letter-spacing: 1px;
        }

        h1 {
            z-index: 9999 !important;
            // font-size: 86px;
            line-height: 30px;
            font-weight: 900;
            transition: .3s all ease-in-out;

        }
    }

    svg {
        position: fixed;
        transform: skew(-60deg, 10deg);
        z-index: 0;
        // transform: skew(-60deg, 90deg);
        /* Equal to skewX(10deg) */


    }

}

@media only screen and (max-width: 600px) {

    .name {
        h1 {
            z-index: 9999 !important;
            font-size: 3em;
            line-height: auto;
            font-weight: 900;
            transition: .3s all ease-in-out;
        }
    }
}