.container {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 100px;


    div:first-child {
        display: flex;
    }

    .tools_wrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-top: .4px solid #10100E;
        width: 100vw;
        height: 100%;
        transition: .4s all ease-out;

        svg {

            width: 13em;
            height: 2.5em !important;
        }
    }
}