.container {
  height: 20vh;


  .tools_wrapper {
    display: flex;
    border-top: .4px solid rgba(201, 209, 217, 0.2);
    width: 100vw;
    height: 100%;
    transition: .4s all ease-out;


    div {
      fill: rgba(255, 255, 255, 0.8);
      position: relative;
      border-right: .4px solid rgba(201, 209, 217, 0.2);
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: .4s cubic-bezier(.215, .61, .355, 1);

      h1 {
        position: absolute;
        transition: .4s cubic-bezier(.215, .61, .355, 1);
        font-weight: 400;
        font-size: 40px;
        opacity: .2;

        border-radius: 8px;
        padding: 8px 16px;
        transform: scale(0) rotate(16deg);
      }

      &:hover {
        background: linear-gradient(300deg, #808080, #090909);
        animation: gradient-animation 4s ease infinite;
        background-size: 180% 180%;

        padding: 16px 32px;
        cursor: pointer;

      }
      &:hover > h1 {
        color: #f4f4f4;
        display: block;
        font-size: 20px;
        transform: scale(1) rotate(0deg);
        opacity: 1;
        margin-top: 50px;

      }
      &:hover > .svg {
        transform: scale(.7);
        margin-bottom: 30px;
      }
      .svg {
        width: 13em;
        right:0;
        min-height: 2.5em !important;
        transition: .4s cubic-bezier(.215, .61, .355, 1);

      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}