.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  height: 100vh;
  div {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
    text-align: left;
    h1 {
      margin-bottom: .5em;
    }
    p {
      margin-top: 2em;
      font-size: 1em;
    }
    button {
      background: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: white;
      max-width: 20%;
      padding: 8px 16px;
      border-radius: 8px;
      margin-top: 2em;
      transition: .4s cubic-bezier(.215, .61, .355, 1);

      span {
        padding-left: 10px;
      }

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}