.hide {
    opacity: 0;
    transform: rotate3d(1, 0, 0, 40deg) + translateY(-40px);
    top: -6rem;

}

.container {
    position: fixed;
    top: 3em;
    // bottom: 7em;
    z-index: 1 !important;
    width: 100vw;
    // height: 10vh;
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    align-items: center;
    font-weight: 600;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    .container.down {
        top: -6rem;
    }

    div {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.2);
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(11.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        p {
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(11.5px);
            -webkit-backdrop-filter: blur(11.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            margin: 10px;
            width: 50px;
            border-radius: 46px;
            text-align: center;
            // border: 1px dashed #10100E;
            padding: .5em;
            -webkit-transition: ease-out 0.4s;
            -moz-transition: ease-out 0.4s;
            transition: ease-out 0.4s;

            &:hover {
                background-color: white;
                color: #10100E;
                cursor: pointer;

            }

        }
    }
}