@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

//@font-face {
//  font-family: 'CultureBold';
//  src: url('./Culture-Bold.otf');
//
//}
body {

  max-width: 1200px;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  background-color: rgba(0, 0, 0, 0.98);
  color: #10100E;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}


h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 86.5%;
  color: #efefef;

}

h2 {
  font-family: satoshi;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

p {
  color: #efefef;
  font-family: satoshi;
  font-size: 11px;

}


hr {
  width: 100vw;
  opacity: 0.2;

}


.bg {
  background-image: url(../assets/noise/noise.png);
  background-repeat: repeat;
  position: fixed;
  z-index: 50;
  width: 400%;
  height: 300%;
  left: -100%;
  top: -100%;
  pointer-events: none;
  will-change: transform;
  animation: 10s steps(10) 0s infinite normal none running noise_grain__3Y1xm;

}



