.container {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: .4px solid #FFFFE3;
    border-top: .4px solid #FFFFE3;
    background-color: #10100E;
    color: #FFFFE3;

    .places {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50%;
        height: 100%;
        border-right: .4px solid #FFFFE3;


    }

    .container_places {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        div {
            height: 33.33333%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
            width: 100%;
            padding-left: 2em;

            &:hover {
                background-color: #FFFFE3;
                color: #10100E;
                cursor: pointer;

            }
        }



        div:not(:last-child) {
            border-bottom: .4px solid #FFFFE3
        }

    }

}